env "local" {
  src = "file://.gobackend/schema.sql"
  dev = getenv("ATLAS_DEV_URL")

  migration {
    dir = "file://migrations"
{{if and .Options.IsPostgres .Options.IsProduction}}    revisions_schema = "atlas_schema_revisions"
{{end}}
  }
}

env "ci" {
  src = "file://.gobackend/schema.sql"
  url = getenv("DATABASE_URL")
  dev = getenv("ATLAS_DEV_URL")

  migration {
    dir = "file://migrations"
{{if and .Options.IsPostgres .Options.IsProduction}}    revisions_schema = "atlas_schema_revisions"
{{end}}
  }
}
