package logging

import (
	"log/slog"
	"testing"
)

func TestNewReturnsSlogLoggerAndFlush(t *testing.T) {
	logger, flush, err := New()
	if err != nil {
		t.Fatal(err)
	}
	if logger == nil {
		t.Fatal("logger is nil")
	}
	logger.LogAttrs(t.Context(), slog.LevelInfo, "http_request", slog.String("request_id", "test"))
	if err := flush(); err != nil {
		t.Fatal(err)
	}
}
